body {
	background-image: url("../../images/background.jpg");
	font-family: 'Press Start 2P', cursive;
}

h1{
	text-align: center;
}

#main {
	width: 100%
	margin: 0;
}

#instructions {
	margin: auto;
}

#guessNum {
	margin: auto;
	font-size: 30px;
}

#results {
	margin: auto;
	font-size: 30px;
}

#crystals {
	margin: auto;
}

.crystalImage {
	height: 111px;
	border: solid 1px #272525;
	margin-left: 10px;
}



#totalScore {
	margin: auto;
	font-size: 30px;
}

h2 {
	background: #009688;
	padding: 20px;
	border: solid 1px #ddd;
	width: 30%;
}