body {
	background-image: url("../../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Press Start 2P', cursive;
	margin-top: 20pt;
}

h1{
	text-align: center;
}

#container{
	margin-top: 16pt;
	text-align: center;
}

#main {
	width: 100%
	margin: 0;
}

#instructions {
	margin-top: 40pt;
}

#scoring {
	margin-top: 40pt;
}

#guessNum {
	font-size: 30px;
}

#results {
	margin: auto;
	font-size: 30px;
}

#crystals {
	margin-top: 20pt;
}

.crystalImage {
	height: 111px;
	border: solid 1px #272525;
	margin-left: 10px;
}

.row2 {
	margin-top: 40pt;
}

#totalScore {
	margin: auto;
	font-size: 30px;
}